# Assessment PDF
NEWITY_Assessment_B_Lender_Comparison.docx.pdf

# Dependencies & Build
node_modules/
dist/
dist-ssr/
coverage/
*.tsbuildinfo
*.local

# Environment variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
